<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @playlist.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @playlist.user.name %>
</p>

<%= link_to 'Edit', edit_playlist_path(@playlist) %>
<%= link_to 'Back', playlists_path %>

<%= form_with(model: [@playlist, @song], local: true) do |f| %>
  <% if @song.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@song.errors.count, "error") %> prohibited this playlist from being saved:</h2>

      <ul>
      <% @song.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  

  <div class="field">
    <%= f.label :artist %>
    <%= f.text_area :artist %>
  </div>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_area :name %>
  </div>

 

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
<br>

<h2>Canciones</h2>

<% @playlist.songs.each do |song| %>
<p><%= song.name %> - <%= song.artist %>
<%= link_to 'Borrar', delete_song_path(song), method: :delete %></p>

<% end %>


